@xdf:registry=https://npm.dfzxvip.com
registry=https://registry.npmmirror.com
canvas_binary_host_mirror=https://npm.taobao.org/mirrors/node-canvas-prebuilt/

strict-peer-dependencies=false
sentrycli_cdnurl=https://cdn.npm.taobao.org/dist/sentry-cli